<div class="container-fluid d-flex vh-100 user-select-none">
  <div class="card m-auto p-3" style="max-width: 500px">
    <div class="card-icon mb-4">
      <img class="img" src="https://image.flaticon.com/icons/png/512/2922/2922510.png" alt="">
    </div>
    <div class="text-center mb-3">Your have an account? <a routerLink="/login" class="text-decoration-none">Sign
        in</a></div>
    <form [formGroup]="form" novalidate (submit)="onSubmit()">
      <div class="row">
        <div class="col-sm-6 mb-3">
          <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" [ngClass]="{ 'is-invalid': f.firstName.errors && f.firstName.touched}" />
        </div>
        <div class="col-sm-6 mb-3">
          <input type="text" class="form-control" placeholder="Last Name" oninput="this.value = this.value.toUpperCase()" formControlName="lastName" [ngClass]="{ 'is-invalid': f.lastName.errors && f.lastName.touched}" />
        </div>
        <div class="col-sm-6 mb-3">
          <input type="text" class="form-control" placeholder="Username" formControlName="username" [ngClass]="{ 'is-invalid': f.username.errors && f.username.touched}" />
        </div>
        <div class="col-sm-6 mb-3">
          <input type="text" class="form-control" placeholder="Phone Number" formControlName="tel" [ngClass]="{ 'is-invalid': f.tel.errors && f.tel.touched}" />
        </div>
        <div class="col-sm-6 mb-3">
          <input type="password" class="form-control" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': f.password.errors && f.password.touched}" />
        </div>
        <div class="col-sm-6 mb-3">
          <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': f.confirmPassword.errors && f.confirmPassword.touched && f.confirmPassword.errors.mustMatch}" />
        </div>
        <div class="col-12 mb-3">
          <input type="email" class="form-control" placeholder="E-mail" formControlName="email" [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched}" />
        </div>
        <div class="form-check ms-3 mb-1">
          <input type="checkbox" id="remember" class="form-check-input" formControlName="remember" />
          <label for="remember" class="form-check-label">Remember me.</label>
        </div>
        <p class="mb-0">By creating an account you agree to our Terms & Privacy.</p>

        <!-- message -->
        <div class="invalid-feedback d-block mb-2">
          <div *ngIf="f.username.errors">
            <span *ngIf="f.username.errors.minlength">Username must be least 8 charactors</span>
            <span *ngIf="f.username.errors.maxlength">Username must not exceed 20 charactors</span>
          </div>
          <div *ngIf="f.confirmPassword.errors">
            <span *ngIf="f.confirmPassword.errors.mustMatch">Password & Confirm Password don't match</span>
          </div>
        </div>

        <!-- button -->
        <div class="col-6">
          <button type="submit" class="btn btn-primary btn-lg w-100" [disabled]="!form.valid">
            SIGNUP
          </button>
        </div>
        <div class="col-6">
          <button type="reset" class="btn btn-danger btn-lg w-100">RESET</button>
        </div>
      </div>
    </form>
  </div>
</div>