.container-fluid {
  background-color: #84aebd;
}
.card-icon {
  width: 140px;
  height: 140px;
  margin: -90px auto 0;
  border: 8px solid #84aebd;
  border-radius: 50%;
  padding: 1em;
  background-color: inherit;
}
.card-icon img {
  display: block;
  width: 100%;
}
