<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" [routerLink]="'/'">NAHiN</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <button class="btn text-secondary" (click)="sidebarToggle()"><span class="material-icons">{{materialMenu}}</span></button>
    <input class="form-control form-control-dark w-100 d-none d-md-block" type="search" placeholder="Search" aria-label="Search">
    <div class="navbar-nav d-none d-md-block">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="#"><span class="material-icons">logout</span> Sign out</a>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="dashboard" routerLinkActive="active">
                            <span class="material-icons">dashboard</span>
                            <span class="txt">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="accounts" routerLinkActive="active">
                            <span class="material-icons">people</span>
                            <span class="txt">Accounts</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="material-icons">report</span>
                            <span class="txt">Reports</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="material-icons">layers</span>
                            <span class="txt">Integrations</span>
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span class="txt">Saved reports</span>
                    <a class="link-secondary" href="#" aria-label="Add a new report">
                        <span class="material-icons">add_circle</span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="material-icons">folder</span>
                            <span class="txt">Current month</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="material-icons">folder</span>
                            <span class="txt">Last quarter</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="material-icons">folder</span>
                            <span class="txt">Social engagement</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="material-icons">folder</span>
                            <span class="txt">Year-end sale</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>

